body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.logo-1 {
    color: #C62D3C;
    font-size: 2.3rem;
    font-family: Gabriela;
}

.logo-2 {
    color: #3B3E3F;
    font-size: 1.5rem;
    font-family: Gabriela;
}